.tableContainer {
  width: 100%;
  background-color: #ffffff;
  overflow-x: auto;
  margin-top: 40px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
  border-radius: 6px;
}

.headerRow {
  /* background-color: #2AC7690D; */
  border-radius: 30px;
  border-color: red;
}

.headerCell {
  padding: 12px 16px;
  text-align: left;
  font-weight: 500;
  color: #888888;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.row {
  border-bottom: 1px solid #f3f4f6;
  transition: background-color 0.2s ease;
}

.rowHover {
  background-color: #f9fafb;
}

.cell {
  padding: 12px 16px;
  vertical-align: middle;
  color: "#2D2D2D";
}

.userCell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userName {
  color: #111827;
  font-weight: 500;
}

.phoneNumber {
  color: #374151;
}

.location {
  color: #6b7280;
}

.actionButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  color: #6b7280;
}

.actionButtonHover {
  background-color: #f3f4f6;
}

.tightCell {
  width: 1%;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}
